@font-face {
	font-family: "SIMPLIFICA Typeface";
	src: url("data/SIMPLIFICA Typeface.ttf") format("truetype");
}

body {
	font-family: "SIMPLIFICA Typeface", Arial;
	color: #212121;
}

#about {
	background: #E0BE36;
}

#tool {
	background: white;
}

#legend {
	background: #BAA898;
}

#books {
	background: #9D6381;
}

nav, footer {
	background: #8CBCB9;
}

a {
	color: #E0E0E0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 10em;
}

h2 {
	font-size: 7em;
}

h3 {
	font-size: 5em;
	text-align: left;
}

ul {
	text-align: left;
}

p, ul {
	font-size: 4em;
}

p.scroll_text {
	font-size: 1.5em;
}

p.quote_text {
	font-size: 5em;
}

p.quote_author {
	font-size: 2em;
	text-align: right;
	padding-right: 10%;
}

p.item {
	text-align: left;
}

span.keyword {
	color: #D84315;
}

span.dark_background {
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.65);
}

.section {
	text-align: center;
	padding-left: 10%;
	padding-right: 10%;
}

.character {
	max-width: 150px;
	max-height: 150px;
}

#tooltip {
    position: absolute;
    text-align: center;
   /* width: 60px;
    height: 28px;
    padding: 2px;*/
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}